/* Full-screen overlay with transparent background */
.progress-bar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of other content */
}

.loader[aria-hidden=true] {
    display: none;
}

.loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--ced-spacing-xxlarge) 0;
    cursor: progress;
}

.loader__icon_container {
    align-items: center;
    display: flex;
    height: 96px;
    justify-content: center;
    position: relative;
    width: 96px;
}

    .loader__icon_container:before {
        background: var(--ced-color-global-brand-4);
        border-radius: 99999em;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

.loader__icon {
    background: var(--ced-color-global-white);
    border-radius: var(--ced-border-radius-base, .375rem);
    box-shadow: inset 0 0 0 3px var(--ced-color-global-neutral-3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: var(--ced-spacing-small, 12px) var(--ced-spacing-small, 12px);
    /* width: 40px; */
    /* height: 32px; */
    z-index: 1;
}

.loader__line {
    border-radius: 2px;
    display: block;
    height: 6px;
    width: 40px;
    will-change: transform;
    margin-bottom: 5px !important;
}

.loader__line_1 {
    background: var(--ced-color-global-brand-2);
}

.loader__line_2 {
    background: var(--ced-color-global-brand-3);
}

.loader__line_3 {
    background: var(--ced-color-global-brand-4);
}

@media (prefers-reduced-motion: no-preference) {
    .loader__line {
        background: var(--ced-color-global-brand-3);
    }

        .loader__line:nth-child(3) {
            animation: ProgressBar 3s ease-out infinite;
        }

        .loader__line:nth-child(2) {
            animation: ProgressBar 3s ease-out infinite .3s;
        }

        .loader__line:nth-child(1) {
            animation: ProgressBar 3s ease-out infinite .6s;
        }
}

@keyframes ProgressBar {
    0% {
        background: var(--ced-color-global-neutral-5);
        transform: scale(95%);
    }

    3% {
        background: var(--ced-color-global-neutral-5);
    }

    33% {
        transform: scale(100%);
        background: var(--ced-color-global-brand-3);
    }

    73% {
        background: var(--ced-color-global-brand-3);
        transform: scale(100%);
    }

    98% {
        background: var(--ced-color-global-neutral-5);
    }

    100% {
        background: var(--ced-color-global-neutral-5);
        transform: scale(95%);
    }
}

.loader__text {
    display: block;
    text-align: center;
}

p.text-heading-small.loader__text {
color: var(--ced-color-global-brand-3);
line-height: var(--ced-line-height-heading-small);
font-size: var(--ced-font-size-small);
letter-spacing: 2px;
margin-bottom: var(--ced-spacing-small);
margin-top: var(--ced-spacing-small);

padding: "8px";
}
